language: java

branches:
    only:
        - master

script:
- ./gradlew build
- cd target
- ls

deploy:
  # Upload binaries
  - provider: s3
    on:
      branch:
        - master
    skip_cleanup: true
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_ACCESS_SECRET
    bucket: "downloads.ortussolutions.com"
    local-dir: target
    upload-dir: cfmlprojects
    acl: public_read