language: java

branches:
    only:
        - develop
script:
- mvn install -DskipTests=true -Dmaven.javadoc.skip=true -B -V
- mkdir target/s3
- mv target/urlrewritefilter* target/s3
deploy:
  # Upload binaries
  - provider: s3
    on:
      branch:
        - develop
    skip_cleanup: true
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_ACCESS_SECRET
    bucket: "downloads.ortussolutions.com"
    local-dir: target/s3
    upload-dir: cfmlprojects/urlrewritefilter/5.0.1-SNAPSHOT
    acl: public_read